@charset "UTF-8";


*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}


header{
    background-color: lightsalmon;
}

header h1{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;   
}

nav{
    background-color: rgb(218, 136, 103);
    padding: 10px;
}

nav a{
    padding: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav a:hover{
    color: white;
}

main{
    
    
}

main h1{
    padding: 5px;
    color: white;
}



main p{
    padding: 10px;
    font-size: 1.2em;
    text-align: left;
    width:500px;
    color: black;
    line-height: 1.5em;
    background-color: rgba(0, 0, 0, 0.37);
 

}